*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.website {
    position: relative;
    width: 100%; 
    height: 100%;
    overflow: hidden;
}
iframe {
height: 100vh;
width: 100vw;
}    
.website iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
